<!doctype html>
<html lang="en">

<head>
  <%- include("template/head.ejs")%>

  <link rel="stylesheet" type="text/css" href="../css/crearproyectos.css" />
  
</head>

<body>
  <%- include("template/header.ejs")%>
  <main class="container-fluid p-0 mb-0">

    <%- include("template/navleft.ejs")%>

    <div class="float-start ms-0 row justify-content-center col-8 col-lg-8 col-md-9 col-sm-9 text-center">

      <div class="h-100 m-3 col-11 float-none col-center border border-dark border-2 overflow-hidden"
        style=" background-color:#eee8cd;max-height: 1200px;">
        <div class=" row border border-dark border-end-0 border-top-0 border-start-0">
          <div class="col-center pt-4 pb-md-3 pb-sm-3 pb-3 pb-lg-3">
            <span class="fs-5 fw-bold">Crear Test</span>
          </div>

        </div>
        <div class="col-12 mt-3" style="max-height: 1100px;">
          <input id="textoPerfil" class="col-12 col-sm-12 col-md-8 col-lg-9 btn btn-info my-2"
            placeholder="Nombre del Test"></input>

          <ul class="mb-3 list-unstyled">
            <li class="row col-12 m-0 py-3"><input id="textoPreguntas"
                class="col-12 col-sm-12 col-md-12 col-lg-12 btn btn-success my-2"
                placeholder="Escribir la Primera Pregunta"></input></li>
            <ul class="mb-3 list-unstyled">
              <li class="col-center col-12 col-sm-12 col-md-4 col-lg-3"><input id="unica" name="tipopregunta"
                  type="radio" value="unica" checked="checked"> Unica Respuesta</input></li>
              <li><input id="tf" name="tipopregunta" type="radio" value="tf"> Verdadero/Falso</input></li>
              <li><input id="varias" name="tipopregunta" type="radio" value="varias"> Respuesta Multiple</input></li>
            </ul>




            <ul class="mb-3 list-unstyled d-block tipopregunta tipounica">
              <li class="row col-12 m-0 py-3"><input id="textoRespuesta"
                  class="col-12 col-sm-12 col-md-11 col-lg-11 btn btn-secondary my-2"
                  placeholder="Escribe Respuesta Primera"></input><input class="col-12 col-sm-12 col-md-1 col-lg-1"
                  name="unicaopcion" type="radio" value="primeraopcion" /></li>
              <li class="row col-12 m-0 py-3"><input id="textoRespuesta"
                  class="col-12 col-sm-12 col-md-11 col-lg-11 btn btn-secondary my-2"
                  placeholder="Escribe Respuesta Segunda"></input><input class="col-12 col-sm-12 col-md-1 col-lg-1"
                  name="unicaopcion" type="radio" value="segundaopcion" /></li>
              <li class="row col-12 m-0 py-3"><input id="textoRespuesta"
                  class="col-12 col-sm-12 col-md-11 col-lg-11 btn btn-secondary my-2"
                  placeholder="Escribe Respuesta Tercera"></input><input class="col-12 col-sm-12 col-md-1 col-lg-1"
                  name="unicaopcion" type="radio" value="terceraopcion" /></li>
              <li class="row col-12 m-0 py-3"><input id="textoRespuesta"
                  class="col-12 col-sm-12 col-md-11 col-lg-11 btn btn-secondary my-2"
                  placeholder="Escribe Respuesta Cuarta"></input><input class="col-12 col-sm-12 col-md-1 col-lg-1"
                  name="unicaopcion" type="radio" value="cuartaopcion" /></li>
            </ul>


            <ul class="mb-3 list-unstyled d-none tipopregunta tipotf">
              <li class="row col-12 m-0 py-3"><button id="textoRespuestaVerdadero"
                  class="col-12 col-sm-12 col-md-11 col-lg-11 btn btn-success my-2"
                  placeholder="Respuesta Primera">Verdadero</button><input id="verdadero"
                  class="col-12 col-sm-12 col-md-1 col-lg-1" name="truefalse" type="radio" value="true" /></li>
              <li class="row col-12 m-0 py-3"><button id="textoRespuestaFalso"
                  class="col-12 col-sm-12 col-md-11 col-lg-11 btn btn-danger my-2"
                  placeholder="Respuesta Segunda">Falso</button><input id="falso"
                  class="col-12 col-sm-12 col-md-1 col-lg-1" name="truefalse" type="radio" value="false" /></li>

            </ul>


            <ul class="mb-3 list-unstyled d-none tipopregunta tipovarias">
              <li class="row col-12 m-0 py-3"><input id="textoRespuesta"
                  class="col-12 col-sm-12 col-md-11 col-lg-11 btn btn-secondary my-2"
                  placeholder="Escribe Respuesta Primera"></input><input class="col-12 col-sm-12 col-md-1 col-lg-1"
                  type="checkbox" id="cbox1" value="first_checkbox"> <label for="cbox1"></li>
              <li class="row col-12 m-0 py-3"><input id="textoRespuesta"
                  class="col-12 col-sm-12 col-md-11 col-lg-11 btn btn-secondary my-2"
                  placeholder="Escribe Respuesta Segunda"></input><input class="col-12 col-sm-12 col-md-1 col-lg-1"
                  type="checkbox" id="cbox2" value="second_checkbox"> <label for="cbox1"></li>
              <li class="row col-12 m-0 py-3"><input id="textoRespuesta"
                  class="col-12 col-sm-12 col-md-11 col-lg-11 btn btn-secondary my-2"
                  placeholder="Escribe Respuesta Tercera"></input><input class="col-12 col-sm-12 col-md-1 col-lg-1"
                  type="checkbox" id="cbox3" value="third_checkbox"> <label for="cbox1"></li>
              <li class="row col-12 m-0 py-3"><input id="textoRespuesta"
                  class="col-12 col-sm-12 col-md-11 col-lg-11 btn btn-secondary my-2"
                  placeholder="Escribe Respuesta Cuarta"></input><input class="col-12 col-sm-12 col-md-1 col-lg-1"
                  type="checkbox" id="cbox4" value="fourth_checkbox"> <label for="cbox1"></li>
            </ul>

          </ul>
        </div>
      </div>
      <div class="row form-inline my-2 my-lg-0 justify-content-around">
        <button class="col-12 col-sm-12 col-md-12 col-lg-3 btn btn-success my-2" type="submit">Volver a Inicio</button>
        <button class="col-12 col-sm-12 col-md-12 col-lg-3 btn btn-success my-2 px-1 my-2" type="submit">Añadir
          Pregunta</button>
        <button class="col-12 col-sm-12 col-md-12 col-lg-3 btn btn-success my-2 px-1 my-2"
          type="submit">Finalizar</button>
      </div>

    </div>




    <%- include("template/navright.ejs")%>




  </main>
  <%- include("template/footer.ejs")%>
  <script src="../js/crear.js"></script>
</body>

</html>