<!doctype html>
<html lang="en">

<head>
  <%- include("template/head.ejs")%>
  
  <link rel="stylesheet" type="text/css" href="../css/perfil.css" />
  
</head>

<body>
  <%- include("template/header.ejs")%>
  <main class="container-fluid p-0 mb-0">

    <%- include("template/navleft.ejs")%>


    <div class="float-start ms-0 row justify-content-center col-8 col-lg-8 col-md-9 col-sm-9 text-center">

      <div class="h-100 m-3 col-11 float-none col-center border border-dark border-2 overflow-hidden"
        style=" background-color:#eee8cd;max-height: 1800px;">
        <div class=" row border border-dark border-end-0 border-top-0 border-start-0">
          <div class="col-center pt-4 pb-md-3 pb-sm-3 pb-3 pb-lg-3">
            <span class="fs-5 fw-bold">Perfil de Usuario</span>
          </div>

        </div>
        <div class="col-12 mt-3" style="max-height: 1700px;">

          <form id="editar" class="mb-3 list-unstyled" data-id="<%=usuario.id%>"> 


            <div class="row col-12 m-0 py-3">
              <label class="form-label col-lg-3 col-md-4 col-sm-12 col-12 text-decoration-underline fw-bold align-self-center" for="nombreproyecto" class="form-label">Correo del Usuario</label>
              <input type="text" class="col-12 col-sm-12 col-md-8 col-lg-9 btn btn-secondary my-2" id="correo" placeholder="Nombre..." name="nombre"
                  value="<%=usuario.correo%>">
            </div>
            <div class="row col-12 m-0 py-3">
              <label class="form-label col-lg-3 col-md-4 col-sm-12 col-12 text-decoration-underline fw-bold align-self-center" for="nombreproyecto" class="form-label">Contraseña</label>
              <input type="text" class="col-12 col-sm-12 col-md-8 col-lg-9 btn btn-secondary my-2" id="password" placeholder="Nombre..." name="password"
                  value="<%=usuario.password%>">
            </div>
            <div class="row col-12 m-0 py-3">
              <label class="form-label col-lg-3 col-md-4 col-sm-12 col-12 text-decoration-underline fw-bold align-self-center" for="nombreproyecto" class="form-label">Nombre del usuario</label>
              <input type="text" class="col-12 col-sm-12 col-md-8 col-lg-9 btn btn-secondary my-2" id="nombre" placeholder="Nombre..." name="nombre"
                  value="<%=usuario.nombre%>">
            </div>
            <div class="row col-12 m-0 py-3">
              <label class="form-label col-lg-3 col-md-4 col-sm-12 col-12 text-decoration-underline fw-bold align-self-center" for="nombreproyecto" class="form-label">Apellidos</label>
              <input type="text" class="col-12 col-sm-12 col-md-8 col-lg-9 btn btn-secondary my-2" id="apellidos" placeholder="Nombre..." name="apellidos"
                  value="<%=usuario.apellidos%>">
            </div>
            <div class="row col-12 m-0 py-3">
              <label class="form-label col-lg-3 col-md-4 col-sm-12 col-12 text-decoration-underline fw-bold align-self-center" for="nombreproyecto" class="form-label">DNI</label>
              <input type="text" class="col-12 col-sm-12 col-md-8 col-lg-9 btn btn-secondary my-2" id="dni" placeholder="Nombre..." name="dni"
                  value="<%=usuario.dni%>">
            </div>
            <div class="row col-12 m-0 py-3">
              <label class="form-label col-lg-3 col-md-4 col-sm-12 col-12 text-decoration-underline fw-bold align-self-center" for="nombreproyecto" class="form-label">Direccion</label>
              <input type="text" class="col-12 col-sm-12 col-md-8 col-lg-9 btn btn-secondary my-2" id="direccion" placeholder="direccion..." name="direccion"
                  value="<%=usuario.direccion%>">
            </div>
            <div class="row col-12 m-0 py-3">
              <label class="form-label col-lg-3 col-md-4 col-sm-12 col-12 text-decoration-underline fw-bold align-self-center" for="nombreproyecto" class="form-label">Ciudad</label>
              <input type="text" class="col-12 col-sm-12 col-md-8 col-lg-9 btn btn-secondary my-2" id="ciudad" placeholder="ciudad..." name="ciudad"
                  value="<%=usuario.ciudad%>">
            </div>
            <div class="row col-12 m-0 py-3">
              <label class="form-label col-lg-3 col-md-4 col-sm-12 col-12 text-decoration-underline fw-bold align-self-center" for="nombreproyecto" class="form-label">Telefono</label>
              <input type="text" class="col-12 col-sm-12 col-md-8 col-lg-9 btn btn-secondary my-2" id="telefono" placeholder="telefono..." name="telefono"
                  value="<%=usuario.telefono%>">
            </div>
            
            <div class="row col-12 m-0 py-3">
              <label class="form-label col-lg-3 col-md-4 col-sm-12 col-12 text-decoration-underline fw-bold align-self-center" for="nombreproyecto" class="form-label">Rol</label>
              <input type="text" class="col-12 col-sm-12 col-md-8 col-lg-9 btn btn-secondary my-2" id="rol" placeholder="rol..." name="rol"
                  value="<%=usuario.rol%>">
            </div>
            <div class="row col-12 m-0 py-3">
              <label class="form-label col-lg-3 col-md-4 col-sm-12 col-12 text-decoration-underline fw-bold align-self-center" for="nombreproyecto" class="form-label">Plan de Formación</label>
              <input type="text" class="col-12 col-sm-12 col-md-8 col-lg-9 btn btn-secondary my-2" id="grupoPago" placeholder="grupoPago..." name="grupoPago"
                  value="<%=usuario.grupoPago%>">
            </div>
            <div class="row col-12 m-0 py-3">
              <label class="form-label col-lg-3 col-md-4 col-sm-12 col-12 text-decoration-underline fw-bold align-self-center" for="nombreproyecto" class="form-label">Fecha Ingreso</label>
              <input type="text" class="col-12 col-sm-12 col-md-8 col-lg-9 btn btn-secondary my-2" id="fechaIngreso" placeholder="fechaIngreso..." name="fechaIngreso"
                  value="<%=usuario.fechaIngreso%>">
            </div>
            <div class="row col-12 m-0 py-3">
              <label class="form-label col-lg-3 col-md-4 col-sm-12 col-12 text-decoration-underline fw-bold align-self-center" for="nombreproyecto" class="form-label">Fecha Renovación</label>
              <input type="text" class="col-12 col-sm-12 col-md-8 col-lg-9 btn btn-secondary my-2" id="fechaRenovacion" placeholder="fechaRenovacion..." name="fechaRenovacion"
                  value="<%=usuario.fechaRenovacion%>">
            </div>
            <div class="row col-12 m-0 py-3">
              <label class="form-label col-lg-3 col-md-4 col-sm-12 col-12 text-decoration-underline fw-bold align-self-center" for="nombreproyecto" class="form-label">Metodología de Pago</label>
              <input type="text" class="col-12 col-sm-12 col-md-8 col-lg-9 btn btn-secondary my-2" id="metodoPago" placeholder="metodoPago..." name="metodoPago"
                  value="<%=usuario.metodoPago%>">
            </div>
            <div class="row form-inline my-2 my-lg-0 justify-content-around">
              <a class="col-12 col-sm-12 col-md-12 col-lg-4 btn btn-success my-2" href="/">Cancelar</a>
              <button id="edit" class="col-12 col-sm-12 col-md-12 col-lg-4 btn btn-success my-2 px-1 my-2"
                >Confirmar</button>
            </div>
          </form>
        </div>
      </div>
      

    </div>




    <%- include("template/navright.ejs")%>




  </main>
  

  <%- include("template/footer.ejs")%>
  <script> 
  const formEditar = document.querySelector('#editar');
            formEditar.addEventListener('submit', async (e) => {
                e.preventDefault()
                
                const formEditar = document.querySelector("#editar");
        const nombre = formEditar.elements["nombre"].value;
        const correo = formEditar.elements["correo"].value;
        const apellidos = formEditar.elements["apellidos"].value;
        const rol = formEditar.elements["rol"].value;
        const password = formEditar.elements["password"].value;
        const dni = formEditar.elements["dni"].value;
        const ciudad = formEditar.elements["ciudad"].value;
        const direccion = formEditar.elements["direccion"].value;
        const telefono = formEditar.elements["telefono"].value;
        const metodoPago = formEditar.elements["metodoPago"].value;
        const grupoPago = formEditar.elements["grupoPago"].value;
        const fechaIngreso = formEditar.elements["fechaIngreso"].value;
        const fechaRenovacion = formEditar.elements["fechaRenovacion"].value;
                const id = formEditar.dataset.id
                const data = await fetch(`/users/${id}`, {
                    method: 'PUT',
                    headers: {
                        'Content-Type': 'application/json'
                    },
                    body: JSON.stringify({ nombre, correo, apellidos, rol, password,dni,ciudad,direccion,telefono,metodoPago,grupoPago,fechaIngreso,fechaRenovacion })
                })
                const res = await data.json()
                if (res.estado) {
                    window.location.href = '/perfil'
                } else {
                    console.log(res)
                }
            })
  </script>
</body>


</html>